In [1]:
# Câu lệnh SQL nào sau đây sẽ phát sinh lỗi khi thực thi?
# A.CREATE DATABASE students
# B.CREATE DATABASE students;
# C.create database if not exists students
# D.IF NOT EXISTS CREATE DATABASE STUDENTS;

# Câu trả lời của bạn:
# IF NOT EXISTS CREATE DATABASE STUDENTS;

In [2]:
# Định dạng mặc định cho kiểu dữ liệu "datetime" là gì? 
# A.MM-YYYY-DD HH:MI:SS
# B.YYYY-MM-DD HH:MI:SS
# C.DD-YYYY-MM MI:HH:SS
# D.Không có đáp án đúng.

# Câu trả lời của bạn:
# YYYY-MM-DD HH:MI:SS

In [3]:
# Từ khóa nào được sử dụng để chỉ định khóa ngoại sau khi bảng được tạo? 
# A.SPECIFY
# B.ALTER TABLE
# C.SETUP
# D.SET

# Câu trả lời của bạn:
# ALTER TABLE

In [4]:
# Câu lệnh SQL nào sau đây có cú pháp đúng?
# A.SELECT * FROM Table1 WHERE Column1 = = 10
# B.SELECT * FROM Table1 WHERE Column1 => 10
# C.SELECT * FROM Table1 WHERE Column1 >= 10
# D.SELECT * FROM Table1 WHERE Column1 =< 10

# Câu trả lời của bạn:
# SELECT * FROM Table1 WHERE Column1 >= 10

In [5]:
# Cái gì đại diện cho ‘attribute’ trong cơ sở dữ liệu quan hệ?
# A.Table
# B.Row
# C.Column
# D.Object

# Câu trả lời của bạn:
# Column

In [6]:
# Dữ liệu trong cơ sở dữ liệu MySQL được tổ chức thành gì?
# A.Objects
# B.Tables
# C.Networks
# D.File systems

# Câu trả lời của bạn:
# Tables

In [7]:
# Câu lệnh SQL nào được sử dụng để tạo bảng trong cơ sở dữ liệu?
# A.CREATE DB
# B.CREATE TABLE
# C.CREATE DATABASE TAB
# D.CREATE DATABASE TABLE

# Câu trả lời của bạn:
# CREATE TABLE

In [8]:
# "name" đại diện cho điều gì trong đoạn mã SQL sau?

# CREATE TABLE student 
# ( 
# name CHAR(30), 
# roll_num INT, 
# address CHAR(30), 
# phone CHAR(12) 
# ); 

# A.một table
# B.một row
# C.một column
# D.một object

# Câu trả lời của bạn:
# một column

In [9]:
# Trong cơ sở dữ liệu MySQL, cấu trúc đại diện cho quan điểm tổ chức của toàn bộ cơ sở dữ liệu là ? 
# A.Schema
# B.View
# C.Instance
# D.Table

# Câu trả lời của bạn:
# Schema

In [10]:
# ‘abc’ trong câu lệnh SQL sau là gì? 
# SELECT abc FROM xyz; 
# A.column name
# B.table name
# C.database name
# D.row name

# Câu trả lời của bạn:
# column name